Source: common-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 10),
               dh-systemd
Standards-Version: 3.9.8
Homepage: https://github.com/lxlive/common-settings
Vcs-Git: https://github.com/lxlive/common-settings.git
Vcs-Browser: https://github.com/lxlive/common-settings.git

Package: common-settings
Architecture: all
Depends: ${misc:Depends}
Description: common settings in installed mode
 Some common settings for the installed mode

Package: common-livesettings
Architecture: all
Depends: ${misc:Depends},
         adduser,
         common-settings,
         gnome-icon-theme,
         gnome-icon-theme-symbolic,
         libglib2.0-bin
Description: common settings in live mode
 Some common settings for live mode
